<div class="sidebar-folder">
  <span class="expander" {{action 'toggleExpansion'}}>
  {{if isExpanded '-' '+'}}
  {{folder.name}}
  </span>
  <div class="expanded-content">
    {{#if isExpanded}}
      {{#each folder.folders as |subfolder|}}
        {{expandable-folder folder=subfolder}}
      {{/each}}

      {{#each folder.files as |file|}}
        <div>{{file.name}}</div>
      {{/each}}
      <p>
        {{#item-adder folder type='folder'}}
        {{/item-adder}}
      </p>
      <p>
        {{#item-adder folder type='file'}}
        {{/item-adder}}
      </p>
    {{/if}}
  </div>
</div>
